* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins;
}
@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/poppins-bold-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/poppins-bold-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/poppins-medium-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/poppins-medium-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/poppins-light-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}
:root {
  --color__c90000: #c90000;
  --color__7d7c7c: #7d7c7c;
  --color__504f4f: #504f4f;
  --color_323232: #323232;
  --color_ffc300: #ffc300;
  --color_fff6a3: #fff6a3;
  --color_f1f1f1: #f1f1f1;
}
.text_danger {
  color: var(--color__c90000);
}
